.table-header {
    padding: 7px 7px;
    border-right: 0.3px solid #bdbdbd;
    border-bottom: 0.3px solid #bdbdbd;
    border-top: 0.3px solid #bdbdbd;
}

.table-header-right {
    padding: 7px 7px;
    border-right: 0.3px solid #bdbdbd;
    border-bottom: 0.3px solid #bdbdbd;
    border-top: 0.3px solid #bdbdbd;
    border-top-right-radius: 5px;
}

.table-line-header {
    padding: 3px 3px;
    border-left: 0.3px solid #579bfc;
    border-bottom: 0.3px solid #579bfc;
    border-top: 0.3px solid #579bfc;
    border-top-left-radius: 5px;
    background-color: #579bfc;
}

.table-line-header-second {
    padding: 3px 3px;
    border-left: 0.3px solid #ffcb00;
    border-bottom: 0.3px solid #ffcb00;
    border-top: 0.3px solid #ffcb00;
    border-top-left-radius: 5px;
    background-color: #ffcb00;
}

.table-line-header-third {
    padding: 3px 3px;
    border-left: 0.3px solid #ff5ac4;
    border-bottom: 0.3px solid #ff5ac4;
    border-top: 0.3px solid #ff5ac4;
    border-top-left-radius: 5px;
    background-color: #ff5ac4;
}

.table-body {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 0.3px solid #bdbdbd;
    border-bottom: 0.3px solid #bdbdbd;
}
.table-body-hover:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.table-line-body {
    padding: 3px 3px;
    border-left: 0.3px solid #579bfc;
    border-bottom: 0.3px solid #579bfc;
    background-color: #579bfc;
}

.table-line-body-footer {
    padding: 6px 3px;
    border-left: 0.3px solid #8db1e4;
    border-bottom: 0.3px solid #8db1e4;
    background-color: #8db1e4;
    border-bottom-left-radius: 5px;
}

.table-line-body-second {
    padding: 3px 3px;
    border-left: 0.3px solid #ffcb00;
    border-bottom: 0.3px solid #ffcb00;
    background-color: #ffcb00;
}

.table-line-body-footer-second {
    padding: 6px 3px;
    border-left: 0.3px solid #ffeda6;
    border-bottom: 0.3px solid #ffeda6;
    background-color: #ffeda6;
    border-bottom-left-radius: 5px;
}

.table-line-body-third {
    padding: 3px 3px;
    border-left: 0.3px solid #ff5ac4;
    border-bottom: 0.3px solid #ff5ac4;
    background-color: #ff5ac4;
}

.table-line-body-footer-third {
    padding: 6px 3px;
    border-left: 0.3px solid #ffc7eb;
    border-bottom: 0.3px solid #ffc7eb;
    background-color: #ffc7eb;
    border-bottom-left-radius: 5px;
}
.table-body-footer {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 0.3px solid #bdbdbd;
    border-bottom: 0.3px solid #bdbdbd;
    border-bottom-right-radius: 5px;
}

/* color */

.bg-blue {
    background-color: #3ab0ff;
    color: white;
}
.bg-kuning {
    background-color: #ffbb5c;
    color: white;
}
.bg-hijau {
    background-color: #59ce8f;
    color: white;
}
.bg-merah {
    background-color: #f6635c;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  /* ALDP style  */

.w-list {
    width: 105px;
    text-align: center;
}

.w-number {
    width: 35px;
}
.bg-status-red {
    background: #E2445C;
    color: #FFFDE7
}

.bg-status-yellow {
    background: #FDAB3D;
    color: #FFFDE7
}

.bg-status-blue {
    background: #0086C0;
    color: #FFFDE7
}

.bg-status-green {
    background: #00C875;
    color: #FFFDE7
}

/* Assets Assessment */
.card-cyber {
    height: 200px;
}

.tx-tengah {
    text-align: center;
}


/* banner  */

.bg-banner {
    width: 100%;
}

.w-action-1 {
    width: 45px;
}

.w-action-2 {
    width: 75px;
}

.w-action-3 {
    width: 105px;
}

.w-action-4 {
    width: 140px;
}
